{% extends 'registration/base.html' %}

{% block registration_content %}
    {% if validlink %}
        <p>Voer uw nieuwe wachtwoord in (en bevestig deze).</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Niew wachtwoord:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Bevestig wachtwoord:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Wachtwoord reset mislukt</h1>
        <p>Deze link is niet meer geldig, wellicht omdat de link al gebruikt is. Verzoek opnieuw het wachtwoord te wijzigen.</p>
    {% endif %}
{% endblock %}
