{% extends 'base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'competition/base.css' %}">
{% endblock head_links %}


{% block nav_links %}
    {% block nav_links_extend %}
        {% comment %} <a href="{% url 'database' %}">DB</a> {% endcomment %}
    {% endblock nav_links_extend %}

    {% comment %} {% if competition_list %}
        {% for competition in competition_list %}
            <a href="{% url 'competition' forloop.counter %}">C{{forloop.counter}}: {{competition.name|truncatewords:2}}</a>
        {% endfor %}
    {% endif %} {% endcomment %}
{% endblock nav_links %}

{% block content %}{% endblock content %}