{% extends 'competition/base.html' %}

{% block nav_links_extend %}
    <a href="{% url 'index' %}">Home</a>
{% endblock nav_links_extend %}

{% block content %}


<section>
    {% if competition_selection %}
    <h1>
        {{competition_selection.name}}</h1>
    <p>Organisator:     {{competition_selection.organiser.name}}</p>
    <p>Status:          {{competition_selection.status}}</p>
    <p>Datum:           {{competition_selection.date}}</p>
    <br>
        {% if competition_selection.playercompetition_set.all %}
            {% for playercompetition in competition_selection.playercompetition_set.all %}
            <p>Speler {{forloop.counter}}: {{playercompetition.player.name }}</p>
                {% comment %} inverse set, then inverse 1-1 {% endcomment %}
            {% endfor %}
        {% else %}
            <p>Geen spelers gevonden.</p>
        {% endif %}
    {% else %}
    <p>Geen competities gevonden.</p>
    {% endif %}
</section>
<hr>
<section>
    <h2>Wijzig competitienamen</h2>
    <form action="{% url 'post_form' competition_selection.id %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for competition in competition_list %}
            <input type="text" name="competition_{{ forloop.counter }}" id="competition{{ forloop.counter }}" value="{{competition.name}} "><br>
        {% endfor %}
        <input type="submit" value="Sla gewijzigde namen op">
    </form>
</section>
<hr>
<section>
<h2>Competities:</h2><br>
    {% if competition_list %}
        {% for competition in competition_list %}
            <h2><a href="/competition/{{ competition.id }}/">{{ competition }}</a></h2>
            <p>Saté's:</p>
            {% for satay in competition.satay_set.all %}
                {% comment %} <a href='/'>| {{ satay.cook.name }} </a> {% endcomment %}
                <p href='/'>| {{ satay.cook.name }} </p>
            {% endfor %}
            <br><br><br>
        {% endfor %}
    {% else %}
        <li>Geen competities gevonden.</li>
    {% endif %}
</section>
{% endblock content %}