{% extends 'competition/base.html' %}

{% block nav_links_extend %}
    <a href="{% url 'database' %}" class='database'>DB</a>
    {% if competition_list %}
        {% for competition in competition_list %}
            <a href="{% url 'competition' competition.id %}">{{competition.name|truncatewords:5}}</a>
        {% endfor %}
    {% endif %} 
{% endblock nav_links_extend %}

{% block content %}
    {% comment %} <input type="datetime-local"> {% endcomment %}
    <section class='new-competition'>
        <a href="{% url 'new_competition' %}">Voeg competitie toe</a>
    </section>

    <section class="index-competition">
        {% comment %} {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
        <h2>Alle Competities</h2>
        {% if competition_list %}
            {% for competition in competition_list %}
                <div class="competition">
                    <h2><a href="{% url 'competition' competition.id %}">{{ competition.name }}</a></h2>
                    <div class="{% if request.user == competition.organiser.user %}me{% endif %}"><span class='label'>Organisator: </span>{{ competition.organiser.name }}</div>
                    <div><span class='label'>Status: </span>{{ competition.status }}</div>
                    <div><span class='label'>Datum: </span>{{ competition.date }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>Geen competities beschikbaar.</p>
        {% endif %}
    </section>
{% endblock content%}