
/* only used in login for now */
.errors{ 
    background: rgb(121, 44, 44);
    padding: 1rem 2rem;
    width: fit-content;
    display: none;
    /* only show container if it has content */
    &:has(p){
        display: block;
    }
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
} 
