*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: inherit;
    color: inherit;
}

body {
    padding:0 0 4rem 0;
    min-height: 100svh;
}

main {
    padding-top: 5rem;
}

a:hover,
input[type='submit']:hover,
button[type='submit']:hover {
    cursor: pointer;
}











/* ----------------- move rest to /competition/ ---------------- */
/* ----------------- but extract global styles first ----------- */

section {
    /* background: #121212; */
    /* box-shadow: inset 0 0 1px 0px rgba(157, 158, 152, 0.2); */
    /* background: #0b0c0c; */
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.4rem 3vw;
    h2 {
        font-weight: 500;
    }
    .table{
        background: #0b0c0c;
        width: fit-content;
        max-width: 100%;
        overflow: auto;
        font-size: 0.8rem;
        display:grid;
        span{
            box-shadow: inset 0 0 1px #ffffff89;
            padding: 0.35rem 0.4rem;
            /* min-width: 0px; */
            /* overflow-x: auto; */
            white-space: nowrap;
            &:has(a){
                padding: 0;
            }
            & a{
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 0.35rem 0.4rem;
            }
        &.th{
            background: #111;
            background: #090a0a;
            color: #888;
            font-weight: 500;
            &.fk {
                color: #5aa85a;
            }
            & .fk{
                color: rgb(90, 168, 90);
                box-shadow: none;
                padding: 0.35rem 0;
            }
            &.pk{
                color: #b83285;
            }
        }
        &.me {
            /* background: red !important; */
            box-shadow: inset 0 0 0 2px red;
        }
        span:not(&.th){
            -x:x;
        }
        }
    }
    >* {
        margin-bottom: 0.3rem
    }
    &.log .table{
        grid-template-columns: repeat(7, auto);
    }
    &.user .table{
        grid-template-columns: repeat(13, auto);
    }
    &.player .table{
        grid-template-columns: repeat(2, auto);
    }
    &.player-competition .table{
        grid-template-columns: repeat(4, auto);
    }
    &.satay .table{
        grid-template-columns: repeat(1, auto);
    }
    &.competition .table,
    &.rating .table{
        grid-template-columns: repeat(5, auto);
    }
    &.new-competition{
        a{
            display: inline-block;
            padding: 1rem;
        }
    }
    a {
        text-decoration: none;
        color: var(--link-clr);
        border-radius: 0.03rem;
        &:hover{
            text-shadow: 0 0 5px #111;
            background: var(--link-bg-hover);
            box-shadow: inset 0 0 0 2px  var(--link-clr);
        }
        &:active{
            text-shadow: none;
            background: var(--link-clr);
            box-shadow: 0 0 0 3px var(--link-clr);
            color: rgb(8, 8, 10)
        }
    }
}

